name: Release please

on:
  push:
    branches:
      - main
      - release/v[0-9]+.[0-9]+.[0-9]+ # Something like release/v1.1.1

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    name: Release Please
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Generate token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: generate-token
        with:
          app-id: ${{ secrets.RELEASE_PLEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_PLEASE_APP_PRIVATE_PEM }}
          owner: ${{ github.repository_owner }}
      - name: Run release-please
        uses: googleapis/release-please-action@a02a34c4d625f9be7cb89156071d8567266a2445 # v4.2.0
        id: release
        with:
          token: ${{ steps.generate-token.outputs.token }}
          config-file: release-please/config.json
          manifest-file: release-please/manifest.json
          target-branch: ${{ github.ref_name }}
