name: Default

on:
  pull_request:

env:
  CI: true

jobs:
  coveralls:
    name: Test with Coverage
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: true
      - name: Install dependencies
        run: |
          go mod download -x
      - name: Run Unit tests
        run: |
          go test -covermode atomic -coverprofile=coverprofile ./...
